.autocomplete, .searchBox {
  position: relative;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;

}

.hidden {
  display: none;
}

h2 {
  text-align: center;
}

.link {
  display: flex;
  justify-content: center;
}