@import '../../index.scss';

.single-report-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 25px;
  .info-block {
    display: flex;
    flex-direction: row;
  }
  h2 {
    margin: 0;
  }
  h3 {
    margin: 20px auto 0 auto;
  }
  p {
    margin: 0 auto 10px auto;
    font-size: 20px;
  }
  #report-date {
    background-color: $green;
    color: white;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
  }
  .notes-area {
    text-align: left;
    height: 300px;
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 2px auto 20px auto;
    padding: 5px;
  }
}

.slide_photo {
  max-width: 275px;
  height: auto;
}

.zoom_container {
  position: relative;
  z-index: 1;
}

.swiper-container {
  z-index: 0 !important;
  margin-bottom: 75px !important;
}