@import '../../index.scss';

.single-report-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 10px;

  position: relative;
  .info-block {
    display: flex;
    flex-direction: row;
  }
  h2 {
    margin: 0;
  }
  h3 {
    margin: 20px auto 0 auto;
  }
  p {
    margin: 0 auto 10px auto;
    font-size: 20px;
  }
  #report-date {
    background-color: $green;
    color: white;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
  }
  .notes-area {
    text-align: left;
    height: 300px;
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 2px auto 20px auto;
    padding: 5px;
  }
}

.slide_photo {
  max-width: 275px;
  height: auto;
}

.zoom_container {
  position: relative;
  z-index: 1;
}

.swiper-container {
  z-index: 0 !important;
  margin-bottom: 75px !important;
  width: 80%;
}

.swiper-wrapper {
  align-items: center;
}

.report_header {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

#confirm_delete_box {
  position: absolute;
  left: 25%;
  z-index: 2;
  width: 50%;
  border: 1px solid black;
  padding: 15px;
  background: lightsalmon;
  border-radius: 20px;
}

#no_photos_statement {
  text-align: center;
}

#delete_box_buttons {
  display: flex;
  justify-content: space-evenly;
}

#confirm_delete_report,
#cancel_delete_report {
  border-radius: 10%;
}

@media only screen and (min-width: 1000px) {
  .single-report-section {
    width: 900px;
  }
  .swiper-container {
    width: 900px;
  }
}
