.user-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  max-width: 100%;
  label {
    font-weight: bold;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.buttons-on-login {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#login_header {
  display: flex;
}

#login_tooltip_text {
  font-size: 14px;
  left: -155px !important;
  top: 5px !important;
}