.user-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  max-width: 100%;
  label {
    font-weight: bold;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.buttons-on-login {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
