.user-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  label {
    font-weight: bold;
  }
  input {
    border: 1px solid lightgray;
    border-radius: 7px;
  }
}

.buttons-on-login {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
