h1 {
  text-align: center;
}
.report-list {
  width: 80%;
  margin: auto;
}
.report-list-ul {
  margin: 0;
  padding: 0;
}

.reportList-link {
  text-decoration: none;
}

.client-name {
  font-size: 110%;
  line-height: 50%;
}
.report-li {
  list-style: none;
  color: black;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  height: auto;
  justify-content: space-between;
}
.company-logo img {
  width: 80%;
}
.information-area {
  height: 100%;
  width: 90%;
  text-transform: capitalize;
  padding: 0 5px;
}

.location {
  font-size: 1.2rem;
}
