.update-account-form {
    margin-top: 50px;
    margin-right: 25%;
    margin-left: 25%;
    .save-button {
        margin-top: 10px;
        width: 100%;
    }
}

.company-code {
    display: inline-block;
    width: calc(100% - 76px);
    margin-right: 10px;
    & + .btn {
        display: inline-block;
        padding: 5px 12px;
    }
}
