@import '../../variables.scss';

.search_and_disabled_container {
  text-align: right;
  margin-top: 20px;
}

.employees_box {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: auto;
}

.employee_client_button {
    background-color: $purple;
    color: white;
}

.employee_box {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  margin-bottom: 15px;
  align-items: center;
  max-width: 250px;
  height: auto;
  padding: 20px;
  border: 1px solid $gray;
  border-radius: 5px;
  position: relative;
  .remove_employee {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 0;
    background: none;
    font-size: 16px;
    cursor: pointer;
    color: $lighter-gray;
    &:hover {
      color: $gray;
    }
  }
  .employee_profile {
    border: 1px solid $gray;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    .fa-user {
      margin-top: 9px;
      font-size: 54px;
      color: $darker-gray;
    }
  }
  h2 {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .employee_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .employee_button {
    margin-top: 15px;
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    svg {
      margin-right: 7px;
      font-size: 12px;
      vertical-align: unset;
    }
  }
}

@media (min-width: 1200px) {
  .employee_box {
    .employee_button {
      width: 140px;
      svg {
        margin-right: 10px;
        font-size: 18px;
        vertical-align: unset;
      }
    }
  }
}




.add_employee_box {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.copy_link_box {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  // align-items: center;
}

#copy_confirm {
  text-align: center;
}

#invite_link {
  margin-right: 15px !important;
  border: 1px solid grey;
  margin: 0px;
  opacity: 0.5;
  width: 200px;
  word-wrap: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: $purple;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  margin-right: 15%;

  /* Position the tooltip */
  position: absolute;
  left: 30px;
  top: -17px;
  z-index: 1;
}

#help_icon {
  margin-left: 10px;
  color: $purple
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip_box {
    display: flex;
    // width: 30%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 650px) {
    .tooltip .tooltiptext {
        left: 35px;
        top: 10px;
    }
}
