header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 200px;
  padding: 10px;
}
.header-buttons {
  margin: auto 10px auto auto;
  button {
    font-size: 15px;
    padding: 5px;
    margin: auto 3px;
  }

  @media only screen and (min-width: 600px) {
    margin-left: auto;
    margin-right: 10px;
    button {
      margin: 0 10px;
      font-size: 20px;
    }
  }
  @media only screen and (min-width: 1200px) {
    button {
      margin: 0 10px;
      font-size: 30px;
    }
    header img {
      width: 400px;
      padding: 20px;
    }
  }
}
