header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  img {
    width: 150px;
    padding: 10px;
  }
}

.header-buttons {
  margin: auto 10px auto auto;
  button {
    font-size: 15px;
    padding: 10px;
    margin: auto 3px;
  }
}
