.add_client_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        margin-right: 25%;
        margin-left: 25%;
}

#title {
    text-align: center;
}