@import '../../index.scss';

.schedule-drop-down {
  width: 100%;
  border: 1px solid grey;
  padding: 10px;
  font-size: 20px;
}
.schedule-page {
  width: 90%;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  .schedule-page {
    width: 80%;
  }
  .client-cards {
    display: flex;
  }
}
