@import '../../index.scss';

.schedule-drop-down {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.dropdown-search {
  width: 50%;
  margin: 10px 0 0 0;
  padding: 0;
}

.filter-dropdown-list {
  margin: 5px;
}

.schedule-page {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .schedule-page {
    width: 80%;
  }
  .client-cards {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
}

// map styles

.map-container {
  width: 100%;
  height: calc(100vh - 185px);
  position: relative;
  .schedule-drop-down {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: auto;
    .dropdown-filter .filter-dropdown-list {
      display: inline-block;
      width: auto;
    }
    .dropdown-search {
      display: none;
    }
  }
}

@media (min-width: 600px) {
  .map-container {
    height: 400px;
    display: block;
    .schedule-drop-down {
      display: none;
    }
  }
}
