@import '../../index.scss';

.schedule-drop-down {
  width: 100%;
  border: 1px solid grey;
  padding: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.schedule-drop-down > div {
  margin: 5px;
}

.filter-dropdown-list {
  margin: 5px;
}

.schedule-page {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .schedule-page {
    width: 80%;
  }
  .client-cards {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
}

// map styles

.map-container {
  width: 100%;
  height: calc(100vh - 185px);
}

@media (min-width: 600px) {
  .map-container {
    height: 400px;
    display: block;
  }
}
