@import '../../index.scss';

.take-a-report {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .basic-client-card {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  label {
    font-weight: bold;
  }
  input {
  }
  textarea {
  }
}
#report-text-input {
  height: 200px;
}

.report-input {
  width: 100%;
}
.take-a-report-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}
#previous-report-title {
  margin-top: 50px;
  margin-bottom: 10px;
}
#store-name {
  margin-bottom: 5px;
  text-transform: uppercase;
}
#take-a-report-btn {
  text-align: center;
  align-self: center;
  width: 30%;
}
