@import '../../index.scss';

.dropdown {
  padding: 0px;
  width: 135px;
}

.dropdown_item {
  border: 1px solid black;
  text-align: right;
  padding-right: 10px;
}

.dropdown_item:hover {
  opacity: 0.5;
}

a {
  text-decoration: none;
}

.confirm_remove_box {
  border: 1px solid black;
}

//Begin client card scss
.client-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  height: auto;
  justify-content: space-between;
}
.company-logo img {
  width: 80px;
}
// .information-area * {
//   padding: 5px;
//   margin: 0 auto;
// }
h2 {
  text-transform: uppercase;
}

.information-area {
  height: 100%;
  width: 90%;
  text-transform: capitalize;
  padding: 0 5px;
}
.location {
  font-size: 1.2rem;
}

.button-area {
  padding: none;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;

  button {
    margin-top: 10px;
    width: 50px;
    padding: 10px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-color: $purple;
    padding: 0px;

    img {
      margin: 5px 0 0 0;
      width: 80%;
    }
  }
  //   img {
  //     padding: none;
  //     width: 70%;
  //     color: white;
  //     margin: auto;
  //   }
  .add-button {
    background-color: $green;
  }
}
.button-text {
  color: white;
}
@media only screen and (min-width: 600px) {
  .company-logo img {
    width: 150px;
  }
  .button-area {
    width: 100%;
    height: auto;

    button {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      border-radius: 5px;
      font-size: 20px;
      padding: 3px;
      justify-content: center;
      align-content: center;
      margin: 5px;
      font-weight: 500;

      .inner-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        * {
          margin: 5px;
        }
      }

      img {
        width: 30px;
      }
    }
  }
  .client-card {
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    flex-direction: column;
    // width: 30%;
    width: 288px;

    height: auto;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
}

.client-hours::before {
  content: '●';
  font-size: 2rem;
}

.open::before {
  color: green;
}

.closed::before {
  color: red;
}
.client-hours {
  font-size: 20px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// google maps card
.gm-style .gm-style-iw-c {
  max-width: 100% !important;
}
.gm-style .gm-style-iw-c .client-card {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
  flex-direction: row;
  .company-logo img {
    display: none;
  }
  .location, .client-hours {
    // font-size: 16px;
  }
  .button-area {
    width: auto;
    button {
      width: 50px;
      height: 50px;
    }
    .button-text {
      display: none;
    }
  }


}
