@import '../../variables.scss';

.dropdown_box {
  height: auto;
  display: flex;
  flex-direction: column;
  // margin-right: 70px;
  position: absolute;
  top: 95px;
  right: 25px;
  .dropdown {
    border-radius: 5px;
    border: 1px solid $lighter-gray;
    padding-top: 1px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
}


.dropdown_item {
  width: 110px;
  background: #fff;
  border-top: 1px solid $lighter-gray;
  text-align: right;
  margin: 0;
  margin-top: -1px;
  text-align: center;
  a, span {
    display: block;
    padding: 5px;
    cursor: pointer;
  }
  &:first-of-type {
    border-top: 0;
    border-radius: 5px 5px 0 0;
  }
  &:last-of-type {
    border-radius: 0 0 5px 5px;
  }
}

.dropdown_item:hover {
  background: $lightest-gray;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.more-info:active,
.more-info:focus {
  outline: none;
}

//Begin client card scss
.client-card {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  margin: 10px auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  height: auto;
  justify-content: space-between;
}

.company-logo img {
  width: 80px;
}

h2 {
  text-transform: uppercase;
}

.information-area {
  height: 100%;
  width: 90%;
  text-transform: capitalize;
  padding: 0 5px;
}

.location {
  font-size: 1.2rem;
}

.confirm_remove_box {
  width: 100%;
  border-radius: 10px;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  button {
    border: 1px solid #cc3737;
    background-color: #cc3737;
    border-radius: 5px;
    margin: auto 5px;
    color: white;
    padding: 5px;
    cursor: pointer;
  }
  #cancel-client-remove-button {
    background-color: white;
    color: black;
  }
}

.button-area {
  padding: none;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

  button {
    margin-top: 10px;
    width: 50px;
    padding: 10px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-color: $purple;
    padding: 0px;
    cursor: pointer;

    img {
      margin: 5px 0 0 0;
      width: 80%;
    }
  }

  .add-button {
    background-color: $green;
    a {
      width: 100%;
    }
    .inner-button {
      justify-content: center;
    }
  }
}

.button-text {
  color: white;
}

@media only screen and (min-width: 600px) {
  .company-logo img {
    width: 150px;
  }
  .confirm_remove_box {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .dropdown {
    margin: 0;
    padding: 0;
  }
  .dropdown_box .dropdown {
    border: none;
  }
  .dropdown_item {
    width: 100%;
    margin: 5px 0;
    border: none;
    a, span {
      padding: 5px 0;
      border: 1px solid $lighter-gray;
      border-radius: 5px;
    }
  }
  .dropdown_box {
    margin: auto;
    width: 100%;
    text-align: center;
    position: relative;
    top: unset;
    right: unset;
  }
  .button-area {
    width: 100%;
    height: auto;

    button {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      border-radius: 5px;
      font-size: 20px;
      padding: 3px;
      justify-content: center;
      align-content: center;
      margin: 5px;
      font-weight: 500;

      .inner-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        * {
          margin: 5px;
        }
      }

      img {
        width: 30px;
      }
    }
  }
  .client-card {
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    flex-direction: column;
    width: 288px;

    height: auto;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
}

@media (max-width: 599px) {

}

.client-hours::before {
  content: '●';
  font-size: 2rem;
}

.open::before {
  color: green;
}

.closed::before {
  color: red;
}
.client-hours {
  font-size: 20px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// google maps card
.gm-style .gm-style-iw-c {
  max-width: 100% !important;
}
.gm-style .gm-style-iw-c .client-card {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
  flex-direction: row;
  .company-logo img {
    display: none;
  }
  .button-area {
    width: auto;
    button {
      width: 50px;
      height: 50px;
    }
    .button-text {
      display: none;
    }
  }
}
