// Using this for scales
// https://hihayk.github.io/scale/#2/2/50/50/0/0/0/0/6558F5/101/88/245/black

$light-purple: #8C82F8;
$purple: #6558F5;
$dark-purple: #4C42B8;

$light-green: #6BC2B7;
$green: #3AAE9F;
$dark-green: #2C8377;

$light-red: #DE7484;
$red: #D3455B;
$dark-red: #9E3444;

$lightest-gray: #F5F5F5;
$lighter-gray: #CACACA;
$gray: #9E9E9E;
$darker-gray: #606060;
$darkest-gray: #212121;
